<ion-header>
  <ion-toolbar>
    <ion-title>form-dispositivos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="producto.nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">categoria</ion-label>
      <ion-input [(ngModel)]="producto.categoria"></ion-input>
    </ion-item>
    <ion-item>

      <input type="file" (change)="seleccionarImagen($event)"/>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input [(ngModel)]="producto.descripcion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input [(ngModel)]="producto.precio"></ion-input>
    </ion-item>
    <ion-button color="primary" (click)="guardarProducto()" >Guardar</ion-button>
  </ion-card>
  <ion-input>{{mensaje}}</ion-input>
</ion-content>
